body {
    background-color: white;
}

.spacing_buttons_rectangle {
    /* Layout Properties */
    top: -1px;
    left: 9px;
    width: 1003px;
    height: 20px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top_right_buttons {
    /* Layout Properties */
    top: -9.787109375px;
    left: 1001px;
    width: 361px;
    height: 60px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.candidate_space {
    /* Layout Properties */
    top: 20px;
    left: 1049px;
    width: 103px;
    height: 12px;

    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/18px ZonaPro-SemiBold;
    letter-spacing: 0px;
    color: #163174;
    opacity: 1;
}
.help_contact {
    /* Layout Properties */
    top: 20px;
    left: 1178px;
    width: 93px;
    height: 12px;

    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/17px ZonaPro;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.language {
    /* Layout Properties */
    top: 16px;
    left: 1312px;
    width: 20px;
    height: 20px;

    /* UI Properties */
    background: transparent url('img/Groupe 14.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.welcome_content {
    /* Layout Properties */
    top: 19px;
    left: 0px;
    width: 1346px;
    height: 872px;

    /* UI Properties */
    opacity: 1;
}

.welcome_image {
    /* Layout Properties */
    top: 19px;
    left: 20px;
    width: 1326px;
    height: 749px;

    /* UI Properties */
    background: transparent url('img/slider1.png') 0% 0% no-repeat padding-box;
    opacity: 0;
}

.text_and_menu {
    /* Layout Properties */
    top: 112px;
    left: 63px;
    width: 1240px;
    height: 445px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
#logo {
    /* Layout Properties */
    top: 59px;
    left: 85px;
    width: 119px;
    height: 49px;

    /* UI Properties */
    text-align: left;
    font: normal normal normal 42px/50px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.down_menu {
    /* Layout Properties */
    top: 19px;
    left: 0px;
    width: 1346px;
    height: 872px;

    /* UI Properties */
    opacity: 1;
}